/* Custom Styles */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

h1, h2 {
    font-family: 'Courgette', cursive;
    margin: 10px;
  }
  h2 {
    font-size: 35px;
  }
.navbar a {
    font-size: 20px;
}

.hero-section {
    background-color: #1c1c1c;
    padding: 100px 0;
    border-top: 3px solid #555;
    border-bottom: 3px solid #555;
}

.hero-section img {
    border: 7px solid #555;
}

.hero-section h1 {
    font-size: 75px;
    padding-bottom: 6px;
}
.hero-section h5 {
    font-size: 40px;
    padding-left: 10px;
}
.about-me-section p {
    font-size: 23px;
}

.about-me-section {
    background-color: #2c2c2c;
}

.projects-section {
    background-color: #1c1c1c;
    border-top: 3px solid #555;
    border-bottom: 3px solid #555;
}

.contact-section {
    background-color: #2c2c2c;
}

.section-title {
    color: #fff;
}

.footer-section {
    background-color: #1c1c1c;
    border-top: 3px solid #555;
}

.card {
    background-color: #2c2c2c;
    border: 3px solid #555;
}

.card-title,
.card-text {
    color: #fff;
}
.contact-list {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.contact-list a {
    padding: 15px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
  }

.contact-list a:hover {
   opacity: 0.6;
  }
  
/* Project cards */
.card {
    position: relative;
    height: 100%
}
.card-body {
    background: rgb(0,0,0,0.8);
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
.hover {
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}
.hover:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {

    .hero-section h1 {
        font-size: 55px;
        padding-bottom: 6px;
    }
    .hero-section h5 {
        font-size: 30px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 490px) {
    .name {
        padding: 30px;
    }
    .hero-section h1 {
        font-size: 40px;
        padding-bottom: 6px;
    }
    .hero-section h5 {
        font-size: 25px;
        padding-left: 10px;
    }
}

@media screen and (min-width:769px) and (max-width: 900px) {
    .card-body h2 {
        font-size: 27px;
    }
}